@media (max-width: 979px){
 .x-navbar.x-navbar-fixed-top{
    position: fixed;
 }    
}

.navbar {
  overflow: hidden;
  background-color: rgb(10, 10, 10);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  font-family: "Lucida Console", "Courier New", monospace;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  color: rgb(173, 173, 173);
}

.navbar-middle a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-right {
  float: right;
}

.navbar-left {
  float: left;
}

.main {
  margin-top: 30px;
}

.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: center;
  margin: 150px;
  padding: 0;
  }

.grid img {
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  margin-top: 15%;
}

h1 {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  margin-top: 10%;
}

h2 {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  margin-top: 3%;
}

body {
  background-color: black;

  height: 3%;
  margin: 0;
  padding: 0;
}
