.navbar {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  font-family: "Lucida Console", "Courier New", monospace;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  color: rgb(173, 173, 173);
}

.main {
  margin-top: 30px;
}

.imageContainer{
   display:flex;
   align-items:center;
   min-height:100vh;
   flex-direction:column;
   justify-content:center;
}

.img{
  margin:5px;
}

h1 {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  margin-top:10%;
}

h2 {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  margin-top:10%;
}

body {
  background-color: black;

  height: 100%;
  margin: 0;
  padding: 0;
}
